#out_of_capacity_content
	#mainPanel100
		
		br
		br
				
		center
			h1 #{lang.capacity_title}
		
		.errorMsgWrap
			if(Number(inPool) ===  0)
				#welcomeheader.capacityError(style="text-align:center;")
					span #{lang.capacity_msg1}
					br
					br
					span #{lang.capacity_msg2}
			else
				#welcomeheader.capacityError(style="text-align:center;")
					span #{lang.capacity_msg3}
					br
					br
					span #{lang.capacity_msg4}
