#service_content
	// ============ Loading Spinner ============ //
	#statusSpinner.loadingdiv
		span
		span
		span
		span
		span
		div

	.mainContentWrap
		.thinBorder
			h2(style="font-size: 32px; font-weight: 100; display:inline-block; margin-right: 50px;") #{lang.nav_service}

			// ============ Date Range Radios ============ //
			input(type="radio" name="status_range" checked="checked" value="today")#status_today
			label(for="status_today").status_label #{lang.today}
			input(type="radio" name="status_range" value="week")#status_week
			label(for="status_week").status_label  #{lang.this_week}
			input(type="radio" name="status_range" value="month")#status_month
			label(for="status_month").status_label  #{lang.this_month}
			input(type="radio" name="status_range" value="lastMonth")#status_lastmonth
			label(for="status_lastmonth").status_label  #{lang.last_month}

			br
			br

		.statsGraphWrap
			// ============ Env Label ============ //
			#envWrap.thinBorder
				span(data-tooltip="#{lang.env_tooltip}").bx--tooltip__top
					span#envText #{lang.production}
					svg#infoIcon
						use(xlink:href="/img/icons/sprite.svg#notifications--info")
					span#statusVer.smallerFont v0.0.0
					span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				//span(style="float:right; margin-top: 4px;") #{lang.ibm_blockchain} #{lang.nav_service}&nbsp;&nbsp;
			
			.statsGraphContent
				// ============ Circle Status Graphs ============ //
				#graphWrapper
					.circleWrap
						#serviceCircle.circleGraph
						.circleLegend #{lang.service_uptime}
						.circleHint #{lang.running}
					.circleWrap
						#networkCircle.circleGraph
						.circleLegend #{lang.network_uptime}
						.circleHint #{lang.running}
					.circleWrap
						#testingCircle.circleGraph
						.circleLegend #{lang.automated_testing}
						.circleHint #{lang.successful_tests}

				// ============ Status Line Chart ============ //
				h2(style="font-size:14px; font-style:italic;") #{lang.tests_description}
				center
					canvas(width="900")#statusChart

		// ============ Messages ============ //
		.halfPanel
			.halfPanelHeader 
				span(data-tooltip="#{lang.comm_tooltip}").bx--tooltip__top #{lang.announcements}
					svg#infoIcon2
						use(xlink:href="/img/icons/sprite.svg#notifications--info")
				
			#messageWrap
				p #{lang.loading}

		// ============ Release Notes ============ //
		.halfPanel
			.halfPanelHeader #{lang.release_notes}
			#releaseNotesWrap
				p #{lang.loading}