extends ../templates/bare

block js
	script.
			$(document).on('ready', function() {
				console.log('debugging', '!{debugging}');
			});

block content
	#mainPanel100
		
		#welcomePanel
		
			#welcomeTxt
				h1 
					span #{lang.welcome_msg1}
					span.welcomeAlt (#{lang.beta})
			
				// launch link
				a#toplaunch.launch(href="/#{lang._LANG}/#{dash_ver}/network/#{network_id}", target='_blank' style="padding: 6px 18px;")
					button.bx--btn
						span #{lang.launch_dashboard}
						svg(style="width: 30px; padding:4px;")
							use(xlink:href="/img/icons/sprite.svg#app-actions--go_to_icon" style="fill: #fff !important;")
			
			if(email != null)
				p= lang.welcome + ", " + email + "!"
			else
				p #{lang.welcome}!
			p #{lang.welcome_msg2}


			br
			br

			// ============ Intro Panel ============ //
			.welcomeAlt #{lang.welcome_msg3}:
			div
				.half
					ul.bulletMe
						li.bulletMe #{lang.welcome_bullet1}
						li.bulletMe #{lang.welcome_bullet2}
				.half
					ul.bulletMe
						li.bulletMe #{lang.welcome_bullet3}
