extends ../templates/bare

block js
	script.
			$(document).on('ready', function() {
				console.log('debugging', '!{debugging}');
			});

block content
	#mainPanel100
		
		br
		br
		
		center
			h1 #{lang.error_title}
		
		.logoutWrap
			if(email !== false)
				.emailId #{email}
			a.logoutLink(href="/logout") #{lang.logout_label}
		.errorMsgWrap
			- for(var i = 0; i < lines.length; i++)
				p= lines[i]
		
		p(style="text-align: left; width: 70%; margin: auto;  margin-top:20px;")
			span #{lang.issue_msg1}&nbsp;
			a(href="https://bluemix-service-status.blockchain.ibm.com/" target="_blank").underline #{lang.issue_msg2}
			span &nbsp;#{lang.issue_msg3}
			br
			br
			span #{lang.issue_msg4}&nbsp;
			a(href="https://github.com/IBM-Blockchain/ibm-blockchain-issues/issues" target="_blank").underline #{lang.issue_msg5}
					