#blockchain_content
	.mainContentWrap
		// ============ Blockchain Stats Section ============ //
		.large1x2Wrap
			.large1x2Header 
				span #{lang.blockchain_overview} 
				span#blockchainPeer [ #{lang.loading} ]

			br
			br

			//# total number of blocks
			.statsBlockWrap
				.statsBlock
					span#blockHeight 0
				svg.statIcon(style="width:43px;")
					use(xlink:href="/img/icons/bcs_sprite.svg#blocks")
				.statLegend.bx--tooltip__top(data-tooltip="#{lang.blocks_tooltip}") &nbsp; #{lang.blocks}
			
			//# blocks per hour
			.statsBlockWrap
				.statsBlock
					span#blockRate 0
				svg.statIcon(style="width:42px;")
					use(xlink:href="/img/icons/bcs_sprite.svg#hour-glass")
				.statLegend.bx--tooltip__top(data-tooltip="#{lang.blocks_hour_tooltip}") &nbsp; #{lang.block_speed}
				
			//# transactions per block
			.statsBlockWrap
				.statsBlock
					span#blockTrans 0
				svg.statIcon(style="width:43px;")
					use(xlink:href="/img/icons/bcs_sprite.svg#round-time")
				.statLegend.bx--tooltip__top(data-tooltip="#{lang.trans_block_tooltip}") &nbsp;#{lang.transaction_activity}
			
			//# total deployments
			.statsBlockWrap
				.statsBlock
					span#blockDeploys 0
				svg.statIcon(style="width:42px;")
					use(xlink:href="/img/icons/bcs_sprite.svg#space-ship")
				.statLegend.bx--tooltip__top(data-tooltip="#{lang.deploy_tootlip}") &nbsp; #{lang.deployments}
				
			//# total inovcations
			.statsBlockWrap
				.statsBlock
					span#blockInvokes 0
				svg.statIcon(style="width:47px;")
					use(xlink:href="/img/icons/bcs_sprite.svg#tag")
				.statLegend.bx--tooltip__top(data-tooltip="#{lang.invoke_tooltip}") &nbsp; #{lang.invocations}
			
			br
			br
			br
		
		br

		// ============ Block Details Table ============ //
		.large1x2Wrap.blockWrap
			.large1x2Header #{lang.block_activity}

			div(style="text-align: left;")
				table.blockchainTabTable#chainActivityTable
					thead
						tr
							th &nbsp;
							th(style="min-width:85px;") #{lang.time}
							th(style="min-width:75px;") #{lang.block} #
							th #{lang.deployments}
							th #{lang.invocations}
					tbody#activityBody
						tr#loadingRow
							td(colspan="5")#loadingTxt #{lang.loading}

				table.blockchainTabTable#blockDetailsTable
					thead
						tr
							th(style="min-width:85px;") #{lang.date}
							th(style="width:80px;") #{lang.type}
							th #{lang.uuid}
							th(style="min-width:135px;") #{lang.chaincode_id}
							th #{lang.payload}
					tbody#detailsBody
						//user tip text - ya.. don't ask!
						tr#userTipRow
							td(colspan="6") #{lang.block_msg1} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
