#navPanel
	#navPanelContent
		.tabs
			a(href='/#{lang._LANG}/#{dash_ver}/network/#{network_id}' act="network").navLink 
				span &nbsp;#{lang.nav_network}&nbsp;
				span.selectedNavChevron

			a(href='/#{lang._LANG}/#{dash_ver}/blockchain/#{network_id}' act="blockchain").navLink 
				span &nbsp;#{lang.nav_blockchain}&nbsp;
				span.selectedNavChevron

			a(href='/#{lang._LANG}/#{dash_ver}/demo/#{network_id}' act="demo").navLink 
				span &nbsp;#{lang.nav_demo_cc}&nbsp;
				span.selectedNavChevron

			a(href='/#{lang._LANG}/#{dash_ver}/apis/#{network_id}' act="apis").navLink
				span  &nbsp;#{lang.nav_apis}&nbsp;
				span.selectedNavChevron
			
			if(run_mode === 'IBM-BCS')
				a(href='/#{lang._LANG}/#{dash_ver}/logs/#{network_id}' act="logs").navLink 
					span &nbsp;#{lang.nav_logs}&nbsp;
					span.selectedNavChevron

			if(run_mode === 'IBM-BCS')
				//z does not get status tab
				if(ui_options.status_tab === true)
					a(href='/#{lang._LANG}/#{dash_ver}/service/#{network_id}' act="service").navLink 
						span &nbsp;#{lang.nav_service}&nbsp;
						span.selectedNavChevron
						
			a(href='/#{lang._LANG}/#{dash_ver}/support/#{network_id}' act="support").navLink 
				span &nbsp;#{lang.nav_support}&nbsp;
				span.selectedNavChevron
